.vs/
/x64/
build/
scans/
lfs/
projects/ScanSap_Linux/VisualGDB/
enc_temp_folder/
hooks/

imgui.ini
*.user
*.exe
init.json
*.sdf
*.suo
*.ick
*.000
*.001
*.tlog
*.log
*.idb
*.pdb
*.obj
*.aps
*.qm
Scansap.VC.db
UpgradeLog.htm
/src/vulkan/shaders/shadersMap.hxx
